/* Space out content a bit */
body {
}

.header {
    min-height: 100px;
    overflow: hidden;
}

.main-nav {
    position: fixed !important;
    width: 100%;
    z-index: 90;
    min-height: 100px;
    background-color: #55266c;
    color: #FFFFFF;
}

.main-nav a {
    text-decoration: none !important;
    color: inherit;
    display: block;
}

.main-nav .menuitem {
    text-align: center;
    border-right: 1px solid rgb(209, 209, 209);
    cursor: pointer;
    font-size: 30px;
    line-height: 100px;
    width: 33.33%;
}

.main-nav .active {
    background-color: #8a20b7;
    color: #FFFFFF;
}

.main-nav .menuitem:hover {
    background-color: #8a20b7;
    color: #FFFFFF;
}

.content {
    padding: 20px;
}

.footer {
    height: 80px;
    background-color: #e6e4e8;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-left: 20px;
}

.amountPicker {
    margin-bottom: 65px;
}

.amountSlider {
    height: 100px;
}

.amountDisplay {
    width: 250px;
    font-size: 30px;
    margin: 20px auto;
}

.amountDisplay input {
    font-size: 30px;
    height: 50px;
    text-align: center;
}

.amountDisplay span {
    font-size: 20px;
}

input[type="range"] {
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        width: 100%;
        height: 20px;
        margin: 0;
        border: none;
        padding: 1px 2px;
        border-radius: 14px;
        background-color: #BABABA;
        box-shadow: inset 0 1px 0 0 #bababa, inset 0 -1px 0 0 #bababa;
        -webkit-box-shadow: inset 0 1px 0 0 #bababa, inset 0 -1px 0 0 #bababa;
        outline: none;
}

input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent;
    background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484848), color-stop(100%, #484848));
    background-image: -webkit-linear-gradient(top , #999 0, #484848 100%);
    background-image: linear-gradient(to bottom, #999 0, #484848 100%);
}
input[type="range"]::-moz-range-thumb {
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #999 0, #484848 100%);
}

input[type="range"]::-ms-thumb {
    width: 70px;
    height: 50px;
    border-radius: 12px;
    border: 0;
    background-image: linear-gradient(to bottom, #999 0, #484848 100%);
}

.investSection {
    height: 800px;
}

.investSection.first {
    height: 400px;
}

.investSection.current {
    border: none;
}

.btn-centered {
    border: none;
    font-weight: bold;
    margin: 0 auto;
    display: table;
    background-color: #7b4397;
    border-radius: 4px;
}

.btn-centered:hover {
    background-color: #8a20b7;
}

.btn-centered:active {
    background-color: #8a20b7;
}

.notificationBar {
    display: block;
    position: fixed;
    top: -100px;
    left: 0;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    background-color: #55266c;
    color: #FFF;
    z-index: 100;
    width: 100% !important;
}

.fundDetailsContainer {
    width: 100%;
    background-color: #e1e1e1;
    border: 1px solid #707070;
    padding-bottom: 15px;
}

.fundDetailsContainer .h2 {
    text-align: center;
}

.fundDetails {
    margin-right: 20px;
}

.fundsSummary {
    margin-top: 20px;
}

.fundsSummary p {
    font-weight: bold;
}

/* to avoid angular flickering */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.selectedFundsContainer {
    padding: 0;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.selectedFundBox {
    background-color: #fbe2ba;
    position: relative;
    height: 250px;
    max-width: 22%;
    padding: 20px;
    text-align: center;
    display: inline-block;
    float: right;
    margin-left: 3%;
}

.totalFees {
    margin-bottom: 30px;
}

.lastBtn {
    margin-bottom: 40px;
}

@media (max-width: 767px), (max-height: 805px) {
    .graphButton {
        width: 60px;
        height: 60px;
        background: url('../images/graphButton.png') #cccccc;
        background-size: 60px;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        margin: 10px;
    }

    .graphButton:active {
        background-color: #a6a6a6;
    }
}

@media (max-width: 720px) {
    .main-nav .menuitem,
    .notificationBar {
        font-size: 24px;
    }
}

@media (max-width: 630px) {
    .main-nav .menuitem,
    .notificationBar {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    .main-nav .menuitem,
    .notificationBar {
        font-size: 20px;
    }
}

@media (max-width: 1690px) {
    .selectedFundBox .h2 {
        font-size: 22px;
        font-weight: bold;
    }

    .selectedFundBox .h3 {
        font-size: 22px;
    }
}

@media (max-width: 1517px) {
    .selectedFundBox {
        margin-left: 8px;
        max-width: 24%;
    }
}

@media (max-width: 1396px) {
    .selectedFundBox .h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .selectedFundBox .h3 {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    .selectedFundBox {
        margin-left: 25px;
        margin-bottom: 25px;
        max-width: 45%;
    }
    .h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .h3 {
        font-size: 20px;
    }
}

@media (max-width: 630px) {
    .selectedFundBox {
        margin-left: 25px;
        margin-bottom: 25px;
        max-width: 92%;
    }
}
.fundViewSub {
    color: #696969;
}

.fundViewTitle {
    margin-top: 35px;
    min-height: 75px;
}

.selectedFundBox.selected {
    background-color: #89d86b;
}

.selectedFundBox.recommended:before {
    background-color: yellow;
    content: 'המומלצת שלנו';
    position: absolute;
    top: 0px;
    left: -20px;
    -webkit-transform: rotate(-30deg);
    border: 1px solid;
    padding: 5px;
}

.balanceOptions {
    margin-top: 85px;
    width: 100%;
    text-align: center;
}

.balancePeriodPicker {
    padding-top: 35px;
    padding-bottom: 50px;
    display: inline-block;
}

.balancePeriodButton {
    height: 95px;
    width: 165px;
    font-size: 26px;
    line-height: 50px;
    font-weight: bold;
    color: #7b4397;
    position: relative;
    box-shadow: #f0f0f0 0 0 0 3px inset,#edddf5 2px 3px 0;
    -webkit-box-shadow: #f0f0f0 0 0 0 3px inset,#edddf5 2px 3px 0;
    -moz-box-shadow: #f0f0f0 0 0 0 3px inset,#edddf5 2px 3px 0;
    border: 1px solid #999;
    max-width: 22%;
    padding: 20px;
    text-align: center;
    display: inline-block;
    float: right;
    margin-left: 3%;
    cursor: pointer;
}

.balancePeriodPicker .selected {
    border: 3px solid #7b4397;
}

@media (max-width: 565px) {
    .balancePeriodButton {
        width: 165px;
        margin-left: -50px;
        margin-bottom: 20px;
        margin-right: 70px;
        max-width: 39%;
    }
}

@media (max-width: 480px) {
    .balancePeriodButton {
        margin-left: -15px;
        margin-right: 35px;
    }
}

.balancePercentageSlider {
    margin-top: 45px;
    margin-bottom: 130px;
}

.balancePercentageDisplay p {
    display: inline-block;
}

.balancePercentageDisplay .right {
    float: right;
}

.balancePercentageDisplay .left {
    float: left;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.ui-slider-horizontal {
    height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -1.1em;
    margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-widget-content {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 20px;
    margin: 0;
    border: none;
    padding: 1px 2px;
    border-radius: 14px;
    background-color: #BABABA;
    box-shadow: inset 0 1px 0 0 #bababa, inset 0 -1px 0 0 #bababa;
    -webkit-box-shadow: inset 0 1px 0 0 #bababa, inset 0 -1px 0 0 #bababa;
    outline: none;
}

.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #643077 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
    outline: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    -webkit-appearance: none;
    width: 25px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484848), color-stop(100%, #484848));
    background-image: -webkit-linear-gradient(top , #999 0, #484848 100%);
    background-image: linear-gradient(to bottom, #999 0, #484848 100%);
    outline: none;
}

.clickable {
    cursor: pointer;
}

.sectionTitle {
    margin: auto;
    padding-bottom: 35px;
}

.sectionTitle p {
    display: inline;
    margin: auto;
    text-align: center;
    float: right;
}

.sectionTitle .sectionIcon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 15px;
}