/* Space out content a bit */
body {
}

.header {
    min-height: 100px;
    overflow: hidden;
}

.main-nav {
    position: fixed !important;
    width: 100%;
    z-index: 90;
    min-height: 100px;
    background-color: #55266c;
    color: #FFFFFF;
}

.main-nav a {
    text-decoration: none !important;
    color: inherit;
    display: block;
}

.main-nav .menuitem {
    text-align: center;
    border-right: 1px solid rgb(209, 209, 209);
    cursor: pointer;
    font-size: 30px;
    line-height: 100px;
    width: 33.33%;
}

.main-nav .invest {
    width: 25%;
}

.main-nav .done {
    text-decoration: line-through;
}

.main-nav .active {
    background-color: #8a20b7;
    color: #FFFFFF;
}

.main-nav .menuitem:hover {
    background-color: #8a20b7;
    color: #FFFFFF;
}

.content {
    padding: 20px;
}

.footer {
    height: 80px;
    background-color: #e6e4e8;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-left: 20px;
}

.amountPicker {
    margin-bottom: 65px;
}

@media (max-width: 950px) {
    .amountPicker {
        margin-bottom: 30px;
    }
}

.amountSlider {
    height: 100px;
}

.amountDisplay {
    width: 250px;
    font-size: 30px;
    margin: 20px auto;
}

.amountDisplay input {
    font-size: 30px;
    height: 50px;
    text-align: center;
}

.amountDisplay span {
    font-size: 20px;
}

input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 20px;
    margin: 0;
    border: none;
    padding: 1px 2px;
    border-radius: 14px;
    background-color: #BABABA;
    box-shadow: inset 0 1px 0 0 #bababa, inset 0 -1px 0 0 #bababa;
    -webkit-box-shadow: inset 0 1px 0 0 #bababa, inset 0 -1px 0 0 #bababa;
    outline: none;
}

input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent;
    background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

/* thumb */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484848), color-stop(100%, #484848));
    background-image: -webkit-linear-gradient(top, #999 0, #484848 100%);
    background-image: linear-gradient(to bottom, #999 0, #484848 100%);
}

input[type="range"]::-moz-range-thumb {
    width: 70px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-image: linear-gradient(to bottom, #999 0, #484848 100%);
}

input[type="range"]::-ms-thumb {
    width: 70px;
    height: 50px;
    border-radius: 12px;
    border: 0;
    background-image: linear-gradient(to bottom, #999 0, #484848 100%);
}

.investSection {
    padding-top: 20px;
    min-height: 800px;
    border-bottom: 3px solid #ebebeb;
}

.investSection.first {
    height: 400px;
}

.investSection.current {
    border: none;
}

.btn-centered {
    border: none;
    font-weight: bold;
    margin: 0 auto;
    display: table;
    background-color: #7b4397;
    border-radius: 4px;
}

.btn-centered:hover {
    background-color: #8a20b7;
}

.btn-centered:active {
    background-color: #8a20b7;
}

.notificationBar {
    display: block;
    position: fixed;
    top: -100px;
    left: 0;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    background-color: #55266c;
    color: #FFF;
    z-index: 100;
    width: 100% !important;
}

.fundDetailsContainer {
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    -webkit-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    -moz-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    border: 1px solid #999;
    padding-bottom: 15px;
}

.fundDetailsContainer .h2 {
    text-align: center;
}

.fundDetails {
    margin-right: 20px;
}

.trackingTopPane {
    text-align: right;
}

.fundsSummary {
    margin-top: 10px;
    display: inline-table;
}

.fundsSummary .profit p {
    float: right;
}

.fundsSummary .profit p:nth-child(2) {
    margin-right: 7px;
}

.fundsSummary p {
    font-weight: bold;
}

@media (max-width: 400px) {
    .fundsSummary p {
        font-size: 19px;
    }
}

@media (max-width: 380px) {
    .fundsSummary p {
        font-size: 16px;
    }
}

/* to avoid angular flickering */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.selectedFundsContainer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.selectedFundBox {
    background-color: #d3b5ff;
    position: relative;
    height: 250px;
    max-width: 22%;
    padding: 0;
    text-align: center;
    display: inline-block;
    float: right;
    margin-left: 3%;
}

.totalFees {
    margin-bottom: 30px;
}

.lastBtn {
    margin-bottom: 40px;
}

@media (max-width: 767px), (max-height: 805px) {
    .graphButton {
        width: 60px;
        height: 60px;
        background: url('../images/graphButton.png') #cccccc;
        background-size: 60px;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        position: absolute;
        margin: 10px;
    }

    .graphButton:active {
        background-color: #a6a6a6;
    }
}

@media (max-width: 800px) {
    .main-nav .invest {
        font-size: 20px;
    }

    .main-nav .menuitem,
    .notificationBar {
        font-size: 24px;
    }
}

@media (max-width: 720px) {
    .main-nav .invest {
        font-size: 20px;
    }

    .main-nav .menuitem,
    .notificationBar {
        font-size: 22px;
    }
}

@media (max-width: 650px) {
    .main-nav .invest {
        font-size: 16px;
    }

    .main-nav .menuitem,
    .notificationBar {
        font-size: 20px;
    }
}

@media (max-width: 463px) {
    .main-nav .invest {
        font-size: 18px !important;
    }
}

@media (max-width: 427px) {
    .main-nav .invest {
        font-size: 17px !important;
    }
}

@media (max-width: 410px) {
    .main-nav .invest {
        font-size: 16px !important;
    }
}

@media (max-width: 392px) {
    .main-nav .invest {
        font-size: 14px !important;
    }
}

@media (max-width: 350px) {
    .main-nav .invest {
        font-size: 13px !important;
    }
}

@media (max-width: 350px) {
    .main-nav .invest {
        font-size: 12px !important;
    }
}

@media (max-width: 334px) {
    .notificationBar {
        font-size: 18px;
    }
}

@media (max-width: 1690px) {
    .selectedFundBox .h2 {
        font-size: 22px;
        font-weight: bold;
    }

    .selectedFundBox .h3 {
        font-size: 22px;
    }
}

@media (max-width: 1517px) {
    .selectedFundBox {
        margin-left: 8px;
        max-width: 24%;
    }
}

@media (max-width: 1396px) {
    .selectedFundBox .h2 {
        font-size: 18px;
        font-weight: bold;
    }

    .selectedFundBox .h3 {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    .selectedFundBox {
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 25px;
        max-width: 45%;
    }

    .h2 {
        font-size: 20px;
        font-weight: bold;
    }

    .h3 {
        font-size: 20px;
    }
}

@media (max-width: 630px) {
    .selectedFundBox {
        margin-left: 25px;
        margin-bottom: 25px;
        max-width: 92%;
    }
}

.fundViewSub {
    color: #696969;
}

.fundViewTitle {
    margin-top: 35px;
    min-height: 75px;
}

.balanceOptions {
    margin-top: 55px;
    width: 100%;
    text-align: center;
}

.balancePeriodPicker {
    padding-top: 0;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.balancePeriodButton {
    height: 95px;
    width: 165px;
    font-size: 26px;
    line-height: 50px;
    font-weight: bold;
    color: #7b4397;
    box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    -webkit-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    -moz-box-shadow: #f0f0f0 0 0 0 3px inset, #edddf5 2px 3px 0;
    border: 1px solid #999;
    padding: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
}

.balancePeriodPicker .selected {
    border: 3px solid #7b4397;
}

@media (max-width: 480px) {
    .balancePeriodButton {
        width: 130px;
    }
}

@media (max-width: 380px) {
    .balancePeriodButton {
        width: 108px;
    }
}

@media (max-width: 336px) {
    .balancePeriodButton {
        width: 105px;
    }
}

.balancePercentageSlider {
    margin-top: 45px;
    margin-bottom: 130px;
}

.balancePercentageDisplay p {
    display: inline-block;
}

.balancePercentageDisplay .right {
    float: right;
}

.balancePercentageDisplay .left {
    float: left;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.ui-slider-horizontal {
    height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -1.1em;
    margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-widget-content {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 20px;
    margin: 0;
    border: none;
    padding: 1px 2px;
    border-radius: 14px;
    background-color: #BABABA;
    box-shadow: inset 0 1px 0 0 #bababa, inset 0 -1px 0 0 #bababa;
    -webkit-box-shadow: inset 0 1px 0 0 #bababa, inset 0 -1px 0 0 #bababa;
    outline: none;
}

.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #643077 50% 50% repeat-x;
    color: #222222;
    font-weight: bold;
    outline: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    -webkit-appearance: none;
    width: 25px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484848), color-stop(100%, #484848));
    background-image: -webkit-linear-gradient(top, #999 0, #484848 100%);
    background-image: linear-gradient(to bottom, #999 0, #484848 100%);
    outline: none;
}

.clickable {
    cursor: pointer;
}

.sectionTitle {
    margin: auto;
    padding-bottom: 35px;
    padding-right: 12px;
}

.sectionTitle p {
    display: inline;
    margin: auto;
    text-align: center;
    float: right;
}

.sectionTitle .sectionIcon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 15px;
}

.nextBtn {
    margin-top: 15px;
    margin-bottom: 20px;
}

.cardsContainer {
    margin-top: 25px;
    margin-bottom: 30px;
}

.fundIcon {
    width: 40px;
    height: 40px;
    background-size: 40px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.fundInfoIcon {
    background-image: url('../images/icons/fund-info-icon.png');
}

.flipBackInfo {
    background-image: url('../images/icons/fund-back-icon.png');
}

.backImage {
    background-image: url('../images/fundGraph.png');
    background-size: 160px;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.fundStatus {
    color: green;
    font-size: 22px;
    font-weight: bold;
}

/*** FUND CARD ANIMATION ***/

.flip-container {
    perspective: 1000;
}

.flip-container, .front, .back {
    /*width: 250px;*/
    height: 250px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;

    border: 10px solid transparent;
}

.back.selected,
.front.selected {
    background-color: #d3b5ff;
    border: 10px solid #8E5094;
}

.front.recommended:before {
    background-color: yellow;
    content: 'המומלצת שלנו';
    position: absolute;
    top: -2px;
    right: -25px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    border: 1px solid;
    padding: 5px;
    z-index: 10;
}

/* front pane, placed above back */
.front {
    background-color: #e6e6e6;
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    width: 100%;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: #e6e6e6;
    width: 100%;
}

.flipped {
    transform: rotateY(180deg);
}

.flip-container.selectedFundBox {
    background-color: transparent;
}

.fundChoosePadding {
    padding-right: 12px;
}

.up {
    color: #178817;
}

.down {
    color: #cc171b;
}

.bullets {
    display: inline-block;
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
}

.bullet {
    font-weight: bold;
    color: #643077;
    text-align: center;
    display: inline-block;
    margin-top: 0;

    z-index: 1;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.bullet:hover {
    z-index: 10;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.bullet p {
    margin: 0 0 24px;
    font-size: 18px;
}

.bullets .h2 {
    margin-left: 77px;
    margin-top: 35px;
    margin-bottom: 25px;
}

@media (max-width: 775px) {
    .bullets {
        padding-right: 0;
        margin-top: 0;
    }

    .bullet {
        margin: 15px;
        margin-top: 0;
    }
}

@media (max-width: 775px) {
    .bullets .h2 {
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 0;
    }
}

@media (max-width: 628px) {
    .bullets {
        margin-top: 0;
    }

    .bullet img {
        width: 73px;
    }
}

@media (max-width: 381px) {
    .bullet {
        width: 103px;
        margin: 6px;
    }
}

@media (max-width: 331px) {
    .bullet {
        width: 98px;
        margin: 2px;
    }
}

.splash {
    position: fixed;
    background: rgba(100, 48, 119, 0.80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transition: opacity 0.5s, visibility 0s 0.5s;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}

.splash-open.splash {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.splash .splash-inner {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 150px);
    transform: translate3d(0, 0, 150px);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.splash-open.splash .splash-inner {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.splash .splash-content {
    width: 660px;
    height: 350px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -175px 0 0 -330px;
    color: #fff;
    font-size: 18px;
}

.splash button,
.splash button:active,
.splash button:hover {
    border: 1px solid #ffffff;
    outline: none;
    margin-top: 70px;
}

.splash-content {
    display: inherit;
}

.splashLogo {
    background: url('../images/solidus-logo.png');
    width: 400px;
    height: 400px;
    margin: auto;
}

.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    overflow-x: hidden;
    overflow-y: hidden;
}

#whySolidusTitle {
    margin-top: 50px;
    margin-bottom: 30px;
}

.summaryFundContent {
    padding-top: 15px;
}