<div ng-controller="BalanceCtrl">
    <div ng-if="!$root.invested">
        <p class="h2" dir="rtl">{{$root.welcomeTrackNotInvested}}</p>
        <a class="btn btn-primary btn-centered btn-lg" data-vx-common-prevent-default=""
           ng-click="itemSelected(toolbarItems[0])" ng-href="/#/{{toolbarItems[0].id}}">{{$root.appmessages.buttonMoveToInvest}}</a>
    </div>
    <div ng-if="$root.invested">
        <p class="h2" dir="rtl">{{$root.appmessages.welcomeBalance}}</p>
        <p class="h3" dir="rtl">{{$root.appmessages.balanceExplanation}}</p>

        <div class="balanceOptions">
            <p class="h2" dir="rtl">{{$root.appmessages.balanceOptions}}</p>
            <p class="h2" dir="rtl">{{$root.appmessages.balanceDateTitle}}</p>
            <p class="h3" dir="rtl">{{$root.appmessages.balanceDate}}</p>
            <div class="balancePeriodPicker">
                <div ng-repeat="period in periodOptions" class="balancePeriodButton"
                     ng-class="{ 'selected': $root.selectedPeriodId === period.id }" ng-click="periodSelected(period)" ng-cloak>
                    <p dir="rtl">{{period.title}}</p>
                </div>
            </div>

            <p class="h2" dir="rtl">{{$root.appmessages.balancePercentageTitle}}</p>
            <p class="h3" dir="rtl">{{$root.appmessages.balancePercentage}}</p>
            <div class="balancePercentageSlider">
                <div ui-slider="{range: true}" min="-40.00" max="40.00" step="1.00" use-decimals ng-model="$root.periodSliderValues"></div>
                <div class="balancePercentageDisplay">
                    <p class="h2 left">{{periodSliderValues[0]}}%</p>
                    <p class="h2 right">{{periodSliderValues[1]}}%</p>
                </div>
            </div>
        </div>
    </div>
</div>
