<div ng-controller="BalanceCtrl">
    <div ng-if="!$root.invested">
        <p class="h2" dir="rtl">{{$root.welcomeTrackNotInvested}}</p>
        <a class="btn btn-primary btn-centered btn-lg" data-vx-common-prevent-default=""
           ng-click="itemSelected(toolbarItems[0])" ng-href="/#/{{toolbarItems[0].id}}">{{$root.appmessages.buttonMoveToInvest}}</a>
    </div>
    <div ng-if="$root.invested">
        <p class="h2" dir="rtl">{{$root.appmessages.welcomeBalance}}</p>
        <p class="h3" dir="rtl">{{$root.appmessages.balanceExplanation}}</p>

        <div class="balanceOptions">
            <p class="h2" dir="rtl">{{$root.appmessages.balanceOptions}}</p>
            <p class="h3" dir="rtl">{{$root.appmessages.balanceDate}}</p>
            <div class="balancePercentageSlider">
                <div ui-slider="{range: true}" min="-30.00" max="30.00" step="1.00" use-decimals ng-model="values"></div>
                <div class="balancePercentageDisplay">
                    <p class="h2 left">{{values[0]}}%</p>
                    <p class="h2 right">{{values[1]}}%</p>
                </div>
            </div>

            <p class="h3" dir="rtl">{{$root.appmessages.balancePercentage}}</p>
            <div class="balancePercentageSlider">
                <div ui-slider="{range: true}" min="-30.00" max="30.00" step="1.00" use-decimals ng-model="values"></div>
                <div class="balancePercentageDisplay">
                    <p class="h2 left">{{values[0]}}%</p>
                    <p class="h2 right">{{values[1]}}%</p>
                </div>
            </div>
        </div>

        <div class="balanceNow">
            <a class="btn btn-primary btn-centered btn-lg" scroll-to-section data-vx-common-prevent-default=""
                ng-href="/#/{{toolbarItems[1].id}}">{{$root.appmessages.balanceNow}}</a>
        </div>
    </div>
</div>
