<div class="selectedFundBox col-xs-6 col-sm-4" ng-class="{'selected': fund.selected, 'recommended': fund.recommended}" ng-click="toggleSelected()">
    <div class="front">
        <span class="infoBtn" ng-click="flipCard($event)"></span>
        <h2 class="fundViewTitle">{{fund.name}}</h2>
        <div class="fundViewSub">%{{$root.appmessages.summarySectionMgmtFeeTitle}} {{'%.2f'.format(fund.mgmtFee / 1000 * amount)}}</div>
        <div class="fundViewSub">{{$root.appmessages.nis}}{{$root.appmessages.summarySectionCommissionTitle}} {{'%.2f'.format(fund.commission / 1000 * amount)}}</div>
    </div>
    <div class="back">
        <span class="flipInfoBtn" ng-click="flipCard($event)"></span>
        <!--<div class="fundImg"></div>-->
    </div>
</div>