<div class="flip-container selectedFundBox clickable col-xs-12 col-sm-12">
    <div class="flipper">
        <div class="front" ng-class="{'selected': fund.selected, 'recommended': fund.recommended}" ng-click="toggleSelected()">
            <h2 class="fundViewTitle">{{fund.name}}</h2>
            <div class="fundViewSub">{{$root.appmessages.summarySectionMgmtFeeTitle}} {{'%.3f'.format(fund.mgmtFee)}}%</div>
            <div class="fundViewSub">{{$root.appmessages.nis}} {{$root.appmessages.summarySectionCommissionTitle}} {{'%.2f'.format(fund.commission / 1000 * amount)}}</div>
            <div ng-hide="$root.isIE" class="fundInfoIcon fundIcon" ng-click="flipCard($event)"></div>
        </div>
        <div class="back" ng-class="{'selected': fund.selected }" ng-click="toggleSelected()">
            <div class="backImage"></div>
            <div class="fundStatus">+1.14%</div>
            <div class="flipBackInfo fundIcon" ng-click="flipCard($event)"></div>
        </div>
    </div>
</div>