<div ng-controller="InvestCtrl">
    <section id="amount" class="investSection first" ng-class="{'current': currentSection.id === 'amount'}">
        <p ng-cloak class="h3" dir="rtl">{{$root.welcomeInvest}}</p>
        <br>
        <p class="h3" dir="rtl">{{$root.appmessages.chooseAmount}}</p>
        <br>
        <div class="amountPicker">
            <input type="range" ng-model="amount" min="100" max="{{$root.totalCash}}" step="100" class="amountSlider">
            <br>
            <div class="input-group amountDisplay">
                <span class="input-group-addon">₪</span>
                <input type="text" ng-model="amount" class="form-control">
                <span class="input-group-addon">.00</span>
            </div>
        </div>
        <a class="btn btn-primary btn-centered btn-lg" scroll-to-section data-vx-common-prevent-default=""
           ng-click="moveToNextSection(sections[0])">{{$root.appmessages.submitAmountSection}}</a>
        <div class="bullets">
            <p ng-cloak class="h2" dir="rtl">{{$root.appmessages.whySolidus}}</p>
            <div class="bullet">
                <img src="images/icons/Discount-128.png">
                <p dir="rtl">{{$root.appmessages.bulletDiscount}}</p>
            </div>
            <div class="bullet">
                <img src="images/icons/Scale-128.png">
                <p dir="rtl">{{$root.appmessages.bulletAutoBalance}}</p>
            </div>
            <div class="bullet">
                <img src="images/icons/Equalizer-128.png">
                <p dir="rtl">{{$root.appmessages.bulletSpread}}</p>
            </div>
        </div>
    </section>

    <section ng-if="currentSection.id === 'fundCoin' || currentSection.position > 1" class="investSection" id="fundCoin"
             ng-class="{'current': currentSection.id === 'fundCoin'}">
        <div dir="rtl" class="sectionTitle">
            <img src="../images/icons/cash-48-img.png" class="sectionIcon" />
            <p class="h1 text-center" dir="rtl">{{$root.appmessages.fundCoinSectionHeader}}</p>
        </div>
        <p class="h3 fundChoosePadding" dir="rtl">{{$root.appmessages.fundCoinSectionDesc}}</p>
        <p class="h3 fundChoosePadding" dir="rtl">{{$root.appmessages.chooseFund}}</p>
        <div class="row cardsContainer center-block">
            <fund-view ng-repeat="fund in $root.funds.fundsCoin" fund-type="fundsCoin"></fund-view>
        </div>
        <a class="nextBtn btn btn-primary btn-centered btn-lg" scroll-to-section data-vx-common-prevent-default=""
           ng-click="moveToNextSection(sections[1])">{{$root.appmessages.submitFundCoinSection}}</a>
    </section>

    <section ng-if="currentSection.id === 'fundGold' || currentSection.position > 2" class="investSection" id="fundGold"
             ng-class="{'current': currentSection.id === 'fundGold'}">
        <div dir="rtl" class="sectionTitle">
            <img src="../images/icons/gold-48-img.png" class="sectionIcon" />
            <p class="h1 text-center" dir="rtl">{{$root.appmessages.fundGoldSectionHeader}}</p>
        </div>
        <p class="h3 fundChoosePadding" dir="rtl">{{$root.appmessages.fundGoldSectionDesc}}</p>
        <p class="h3 fundChoosePadding" dir="rtl">{{$root.appmessages.chooseFund}}</p>
        <div class="row cardsContainer center-block">
            <fund-view ng-repeat="fund in $root.funds.fundsGold" fund-type="fundsGold"></fund-view>
        </div>
        <a class="nextBtn btn btn-primary btn-centered btn-lg" scroll-to-section data-vx-common-prevent-default=""
           ng-click="moveToNextSection(sections[2])">{{$root.appmessages.submitFundGoldSection}}</a>
    </section>

    <section ng-if="currentSection.id === 'fundStock' || currentSection.position > 3" class="investSection" id="fundStock"
             ng-class="{'current': currentSection.id === 'fundStock'}">
        <div dir="rtl" class="sectionTitle">
            <img src="../images/icons/stock-48-img.png" class="sectionIcon" />
            <p class="h1 text-center" dir="rtl">{{$root.appmessages.fundStockSectionHeader}}</p>
        </div>
        <p class="h3 fundChoosePadding" dir="rtl">{{$root.appmessages.fundStockSectionDesc}}</p>
        <p class="h3 fundChoosePadding" dir="rtl">{{$root.appmessages.chooseFund}}</p>
        <div class="row cardsContainer center-block">
            <fund-view ng-repeat="fund in $root.funds.fundsStock" fund-type="fundsStock"></fund-view>
        </div>
        <a class="nextBtn btn btn-primary btn-centered btn-lg" scroll-to-section data-vx-common-prevent-default=""
           ng-click="moveToNextSection(sections[3])">{{$root.appmessages.submitFundStockSection}}</a>
    </section>

    <section ng-if="currentSection.id === 'fundDebenture' || currentSection.position > 4" class="investSection" id="fundDebenture"
             ng-class="{'current': currentSection.id === 'fundDebenture'}">
        <div dir="rtl" class="sectionTitle">
            <img src="../images/icons/bonds-48-img.png" class="sectionIcon" />
            <p class="h1 text-center" dir="rtl">{{$root.appmessages.fundDebentureSectionHeader}}</p>
        </div>
        <p class="h3 fundChoosePadding" dir="rtl">{{$root.appmessages.fundDebentureSectionDesc}}</p>
        <p class="h3 fundChoosePadding" dir="rtl">{{$root.appmessages.chooseFund}}</p>
        <div class="row cardsContainer center-block">
            <fund-view ng-repeat="fund in $root.funds.fundsDebenture" fund-type="fundsDebenture"></fund-view>
        </div>
        <a class="nextBtn btn btn-primary btn-centered btn-lg" scroll-to-section data-vx-common-prevent-default=""
           ng-click="moveToNextSection(sections[4])">{{$root.appmessages.submitFundDebentureSection}}</a>
    </section>

    <section ng-if="currentSection.id === 'summary' || currentSection.position > 5" class="investSection current last" id="summary">
        <p class="h3" dir="rtl">{{$root.appmessages.summarySectionHeader}}</p>
        <p class="h3" dir="rtl">{{$root.appmessages.summarySectionHeader2}}</p>

        <div class="row selectedFundsContainer center-block">
            <div ng-repeat="fund in selectedFunds" class="selectedFundBox col-xs-12 col-sm-12" ng-cloak>
                <div>
                    <p class="h2" dir="rtl">{{$root.formatNumberRgx(amount / 4)}} {{$root.appmessages.nis}}</p>
                    <p class="h2" dir="rtl">{{fund.name}}</p>
                    <p class="h3" dir="rtl">{{$root.appmessages.summarySectionMgmtFeeTitle}} {{'%.2f'.format(fund.mgmtFee / 1000 * amount)}} {{$root.appmessages.nis}}</p>
                    <p class="h3" dir="rtl">{{$root.appmessages.summarySectionCommissionTitle}} {{'%.2f'.format(fund.commission / 1000 * amount)}} {{$root.appmessages.nis}}</p>
                </div>
            </div>
        </div>

        <div class="totalFees">
            <p class="h3" dir="rtl">{{$root.appmessages.summarySectionTotalMgmtFee}} {{getTotalFees(); '%.2f'.format(totalMgmtFee)}} {{$root.appmessages.nis}}</p>
            <p class="h3" dir="rtl">{{$root.appmessages.summarySectionTotalCommission}} {{'%.2f'.format(totalCommission)}} {{$root.appmessages.nis}}</p>
            <p class="h3" dir="rtl">{{$root.appmessages.summarySectionPastYieldTitle}} 4.2%</p>
        </div>

        <a class="btn btn-primary btn-centered btn-lg lastBtn" scroll-to-section data-vx-common-prevent-default=""
           ng-click="moveToNextSection(sections[5]); submit(); itemSelected(toolbarItems[1])" ng-href="/#/{{toolbarItems[1].id}}">{{$root.appmessages.submitSummary}}</a>
    </section>
</div>
